body{
    background: url(https://img.fonwall.ru/o/7/vecher-doma-neboskrebyi-ulitsyi.jpg) 
    no-repeat;
    background-size: 100%;
    background-attachment: fixed;	
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
